.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

  .product-list {
    display: flex;
    flex-wrap: nowrap; /* Ensure items do not wrap */
    overflow-x: auto;  /* Enable horizontal scrolling if needed */
    padding: 20px;
    background-color: #8c4e4e;
    gap: 20px;         /* Space between cards */
    /* justify-content: center; */
    gap: 150px;
    align-items: center; /* Align items to the top */
}
.text{
  font-size: 24px;
  color: whitesmoke;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;      /* Adjust width as needed */
    text-align: center;
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;  /* Ensure background color is white for better contrast */
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: 150px; /* Consistent height for images */
    object-fit: cover; /* Maintain aspect ratio and cover container */
}

.product-info {
    padding: 10px;
    font-size: 1em;
    overflow: hidden; /* Prevent text overflow */
}

.product-info h2 {
    font-size: 1.2em;
    margin: 0;
    padding: 10px 0;
}
